<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${chapter.sample.name}+'-- Capítulo '+${chapter.number}+' | Pixelmanga' "></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/select2.min.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome-animation@1.1.1/css/font-awesome-animation.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/d31cd00fe4.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="/home">
                        <img src="/static/images/logo.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="header__nav">
                        <nav class="header__menu">
                            <ul>
                                <li><a class="nav-link" th:href="${sampleUrl}" title="Volver">
                                        <i class="far fa-arrow-alt-circle-left fa-fw"></i>
                                        <p class="d-none d-md-inline">VOLVER</p>
                                    </a>
                                </li>
                                <li><a class="nav-link" href="#" id="fullScreenBtn" title="Ver en pantalla completa">
                                        <i class="direction-btn fa fa-fw fa-arrows-alt"></i>
                                        <p class="d-none d-md-inline">PANTALLA COMPLETA</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Msg notification -->

    <div class="row" th:if="${message}">
        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true"><a>
                    <i class="fa fa-times greencross"></i>
                    </a></span>
                    <span class="sr-only">Close</span>
                </button>
                <strong class="font__weight-semibold" th:text="${message}"></strong>
            </div>
        </div>
    </div>

    <div class="row" th:if="${error}">
        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times danger "></i>
									</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong class="font__weight-semibold" th:text="${error}"></strong>
            </div>
        </div>
    </div>

    <!-- Msg notification End-->

    <!-- Chapter Details Section Begin -->
    <section class="container-fluid text-center bg-manhwa">
        <div class="row align-items-center">
            <div class="col-12 text-white pb-2">
                <h1 class="font-weight-bold" th:text="${chapter.sample.name}"></h1>
                <h2 th:text="'Capítulo '+${chapter.number}"></h2>
                <h4 class="no-margin">
                    <i class="animated"></i>&nbsp;<i class="animated"></i>
                    &nbsp;&nbsp;
                    <b th:text="${type.toUpperCase()}"></b><span th:text="${reading_direction == 'ltr'}? '. Sentido de lectura: De izquierda a derecha' : '. Sentido de lectura: De derecha a izquierda'"></span>
                    &nbsp;&nbsp;
                    <i class="animated"></i>&nbsp;<i class="animated"></i>
                </h4>
            </div>
        </div>
    </section>
    <!-- Chapter Details Section End -->
    <!-- Chapter Content Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player" style="text-align: center">
                        <img th:each="imageNumber : ${imageNumberList}"
                             th:data-src="'/images/samples/'+${chapter.sample.id}+'/chapters/'+${chapter.number}+'/'+${imageNumber}"
                             alt="…" class="lazy" src="/static/images/loading.gif"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Chapter Content Section End -->
    <!-- Share and Navigate Section Begin -->
    <section class="container-fluid text-center bg-manga">
        <div class="d-flex flex-row row align-items-center">
            <div class="col-6 col-sm-2 order-1 order-sm-1 text-white">
                <a th:if="${prev_chapter_url}" th:href="${prev_chapter_url}">
                    <i class="fas fa-backward fa-2x"></i> <small class="d-block">Cap. Anterior</small>
                </a>
            </div>
            <div class="order-3 order-sm-2 col-12 col-sm-8">
                <a class="social-share btn btn-xs btn-social btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flectortmo.com%2Fviewer%2F585eaafe9e3d2638b00270dbed47d17b%2Fcascade" target="_blank">
                    <i class="fab fa-facebook-f fa-fw"></i> Compartir
                </a>
                <a class="social-share btn btn-xs btn-social btn-twitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Flectortmo.com%2Fviewer%2F585eaafe9e3d2638b00270dbed47d17b%2Fcascade&amp;title=CHAINSAW MAN (2022)" target="_blank">
                    <i class="fab fa-twitter fa-fw"></i> Compartir
                </a>
                <a class="social-share btn btn-xs btn-social btn-whatsapp" th:href="'https://api.whatsapp.com/send?text='+${currentUrl}" target="_blank">
                    <i class="fab fa-whatsapp fa-fw"></i> Compartir
                </a>
                <button class="btn btn-xs btn-social btn-primary" onclick="copyToClipboard()" th:data-url="${currentUrl}" id="copyToClipboard" >
                    <i class="fas fa-link fa-fw"></i> Compartir
                </button>
                <script>
                    const copyToClipboard = str => {
                        const el = document.createElement('textarea');  // Create a <textarea> element
                        el.value = str;                                 // Set its value to the string that you want copied
                        el.setAttribute('readonly', '');                // Make it readonly to be tamper-proof
                        el.style.position = 'absolute';
                        el.style.left = '-9999px';                      // Move outside the screen to make it invisible
                        document.body.appendChild(el);                  // Append the <textarea> element to the HTML document
                        const selected =
                            document.getSelection().rangeCount > 0        // Check if there is any content selected previously
                                ? document.getSelection().getRangeAt(0)     // Store selection if found
                                : false;                                    // Mark as false to know no selection existed before
                        el.select();                                    // Select the <textarea> content
                        document.execCommand('copy');                   // Copy - only works as a result of a user action (e.g. click events)
                        document.body.removeChild(el);                  // Remove the <textarea> element
                        if (selected) {                                 // If a selection existed before copying
                            document.getSelection().removeAllRanges();    // Unselect everything on the HTML document
                            document.getSelection().addRange(selected);   // Restore the original selection
                        }
                        alert('Enlace copiado en el portapapeles');
                    };
                </script>
            </div>
            <div class="col-6 col-sm-2 order-2 order-sm-3 chapter-arrow chapter-next">
                <a th:if="${next_chapter_url}" th:href="${next_chapter_url}">
                    <i class="fas fa-forward fa-2x"></i> <small class="d-block">Cap. Siguiente</small>
                </a>
            </div>
        </div>
    </section>
    <!-- Share and Navigate Section End -->
    <section>
        <nav class="navbar navbar-fixed-top px-0 navbar-dark bg-dark">
            <div class="row d-flex flex-row justify-content-center m-0 mx-auto col-12">
                <div class="d-inline px-2">
                    <a class="nav-link" href="/home" title="Inicio"><i class="fas fa-home fa-fw"></i> <span class="d-none d-md-inline">INICIO</span></a>
                </div>
                <div class="d-inline px-2">
                    <a class="nav-link" th:href="${sampleUrl}" title="Volver"><i class="far fa-arrow-alt-circle-left fa-fw"></i> <span class="d-none d-md-inline">VOLVER</span></a>
                </div>
            </div>
        </nav>
    </section>
    <section>
        <div class="container mt-4 mb-4">
            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://pixelmanga.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <!-- Anime Section End -->
        </div>

    </section>
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/select2.min.js"></script>
    <script th:inline="javascript">
        let fullScreenMode = false;
        function launchIntoFullscreen(element) {
            if(element.requestFullscreen) {
                element.requestFullscreen();
            } else if(element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if(element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen();
            } else if(element.msRequestFullscreen) {
                element.msRequestFullscreen();
            }
        }


        function exitFullscreen() {
            if(document.exitFullscreen) {
                document.exitFullscreen();
            } else if(document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if(document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }

        $( "#fullScreenBtn" ).on( "click", function(e){
            if(!fullScreenMode) {
                launchIntoFullscreen(document.documentElement);
            }else{
                exitFullscreen();
            }
            fullScreenMode = !fullScreenMode;
        });

        $(document).ready(function() {
            var lazyloadImages;

            if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function(entries, observer) {
                    console.log(observer);
                    entries.forEach(function(entry) {
                        if (entry.isIntersecting) {
                            var image = entry.target;
                            image.src = image.dataset.src;
                            image.classList.remove("lazy");
                            imageObserver.unobserve(image);
                        }
                    });
                }, {
                    root: document.querySelector("#container"),
                    rootMargin: "0px 0px 500px 0px"
                });

                lazyloadImages.forEach(function(image) {
                    imageObserver.observe(image);
                });
            } else {
                let lazyloadThrottleTimeout;
                lazyloadImages = $(".lazy");

                function lazyload () {
                    if(lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }

                    lazyloadThrottleTimeout = setTimeout(function() {
                        var scrollTop = $(window).scrollTop();
                        lazyloadImages.each(function() {
                            var el = $(this);
                            if(el.offset().top < window.innerHeight + scrollTop + 500) {
                                var url = el.attr("data-src");
                                el.attr("src", url);
                                el.removeClass("lazy");
                                lazyloadImages = $(".lazy");
                            }
                        });
                        if(lazyloadImages.length === 0) {
                            $(document).off("scroll");
                            $(window).off("resize");
                        }
                    }, 20);
                }

                $(document).on("scroll", lazyload);
                $(window).on("resize", lazyload);
            }
            /*<![CDATA[*/
            document.querySelectorAll('i.animated').forEach(function(icon) {
                icon.classList.remove('animated');
                if ([[${reading_direction}]] === 'ltr') {
                    icon.classList.add('fa');
                    icon.classList.add('fa-arrow-right');
                    icon.classList.add('faa-horizontal');
                    icon.classList.add('animated');
                    icon.classList.add('faa-slow');
                }
                else {
                    icon.classList.add('fa');
                    icon.classList.add('fa-arrow-left');
                    icon.classList.add('faa-horizontal');
                    icon.classList.add('faa-reverse');
                    icon.classList.add('animated');
                    icon.classList.add('faa-slow');
                }
            });
            /*]]>*/
        })
    </script>
</body>

</html>