<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pixelmanga | Sample</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/plyr.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/home">
                            <img src="/static/images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li th:classappend="${is_home !=null? 'active':''}"><a th:href="@{/home}">Home</a></li>
                                <li th:classappend="${is_library !=null? 'active':''}"><a th:href="@{/library}">Biblioteca</a></li>
                                <li th:classappend="${is_following != null? 'active':''}"><a th:href="@{/favorite}">Siguiendo</a></li>
                                <li th:classappend="${is_lists !=null? 'active':''}"><a th:href="@{/lists}">Listas</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="/register_sample" sec:authorize="hasAnyAuthority('AUTHOR') and isAuthenticated()"><span class="icon_pencil"></span></a>
                        <a sec:authorize="!hasAnyAuthority('AUTHOR') and isAuthenticated()" data-toggle="modal" data-target="#askAuthorModal"><span class="icon_pencil"></span></a>
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/profile" sec:authorize="isAuthenticated()"><span class="icon_profile"></span></a>
                        <a sec:authorize="isAuthenticated()"><form th:action="@{/logout}" method="post" ><input type="submit" value="Salir"></form></a>
                        <a href="/login" sec:authorize="!isAuthenticated()">Login</a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Msg notification -->

    <div class="row d-none" id="success_msg_div" th:data-url="'/library/'+${sample_type}+'/'+${sample.id}+'/'+${sample.name}">
        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true"><a>
                    <i class="fa fa-times greencross"></i>
                    </a></span>
                    <span class="sr-only">Close</span>
                </button>
                <strong id="success_msg" class="font__weight-semibold"></strong>
            </div>
        </div>
    </div>

    <div class="row d-none" id="error_msg_div">
        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times danger "></i>
									</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong id="error_msg" class="font__weight-semibold"></strong>
            </div>
        </div>
    </div>

    <!-- Msg notification End-->

    <!-- Sample Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="chapter__form">
                    <div class="col-md-8">
                        <h3>Nuevo capítulo</h3>
                        <form id="form_upload" th:action="@{/perform_chapter_upload}" method="post" enctype="multipart/form-data">
                            <div class="input__item">
                                <input type="hidden" name="sample_id" th:value="${sample.id}">
                                <div class="item-text" th:text="${sample.name}"></div>
                                <div class="badge" th:classappend="'badge-'+${sample_type}" th:text="${sample_type.toUpperCase()}"></div>
                                <span><i class="icon_book"></i></span>
                            </div>
                            <div class="input__item">
                                <div class="item-text" th:text="'Capítulo ' + ${chapter_number}"></div>
                                <span class="fa fa-hashtag"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" name="chapter_title" placeholder="Título del capítulo" maxlength="255">
                                <span class="icon_pencil"></span>
                            </div>
                            <div class="row" style="" id="images_selection">
                                <div class="col-12">
                                    <input type="file" class="form-control" id="files" multiple="" accept="image/x-png,image/jpeg">
                                </div>
                                <div class="container">
                                    <div class="row" id="images_preview">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-danger btn-lg" th:href="@{'/library/'+${sample_type}+'/'+${sample.id}+'/'+${sample.name}}" id="btnCancel"><i class="fa fa-times"></i> Cancelar</a>
                                <button type="submit" class="btn btn-success btn-lg" id="btnSubmit" disabled=""><i class="fa fa-upload"></i> Subir</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a th:href="@{/library}">Biblioteca</a></li>
                            <li><a href="#">Siguiendo</a></li>
                            <li><a href="#">Listas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form" action="/library">
                <input type="text" name="title" id="search-input" placeholder="Busque aquí.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script type="text/javascript">
        const filesToUpload = [];
        let validImageTypes = ['image/jpeg', 'image/png'];
        let max_files = 500;
        let sortableElement = document.getElementById('images_preview');
        let sortable = Sortable.create(sortableElement,{
            handle: '.card-header',
            onSort: function (evt) {
                filesToUpload.move(evt.oldIndex,evt.newIndex);
                refreshImages();
            },
        });

        Array.prototype.move = function(from,to){
            while (from < 0) {
                from += this.length;
            }
            while (to < 0) {
                to += this.length;
            }
            if (to >= this.length) {
                var k = to - this.length;
                while ((k--) + 1) {
                    this.push(undefined);
                }
            }
            this.splice(to, 0, this.splice(from, 1)[0]);
            return this;
        };


        function previewImages(event) {
            const target = event.target || event.srcElement;
            const total_files_add = document.getElementById("files").files.length;
            for (let i = 0; i < total_files_add; i++) {
                if (!validImageTypes.includes(target.files[i].type)) {
                    alert("Comprueba que el archivo " + target.files[i].name + " es una imágen válida (JPEG o PNG)");
                } else {
                    if (filesToUpload.length === max_files) {
                        alert('Máximo de archivos alcanzado (' + max_files + ')');
                    } else {
                        if (target.files[i].size <= 4194304) {
                            $('<div class="col-6 col-sm-4 col-md-3 col-lg-2 p-1 m-0 card-element">' +
                                '<div class="card">' +
                                '<h5 class="card-header card-element-header">' +
                                '<i class="fa fa-arrows-alt fa-fw"></i> Pag: ' + (filesToUpload.length + 1) + '</h5>' +
                                '<img class="card-img-top" style="max-height:200px;" src="' + URL.createObjectURL(target.files[i]) + '">' +
                                '<div class="card-body p-1">' +
                                '<small class="card-text">' +
                                '<i class="fa fa-trash fa-fw delete-file text-danger" data-file="'+ target.files[i].name +'"></i>' + target.files[i].name +
                                '</small>' +
                                '</div>' +
                                '</div>' +
                                '</div>').hide().appendTo('#images_preview').fadeIn(1000);
                            filesToUpload.push(target.files[i]);
                        } else {
                            alert('La imagen ' + target.files[i].name + " no cumple los requisitos");
                        }
                    }
                }
            }
            if (filesToUpload.length > 0) {
                $('#btnSubmit').prop('disabled', false);
            } else {
                $('#btnSubmit').prop('disabled', true);
            }
        }

        function refreshImages(){
            $('.card-element').each(function(index){
                $(this).find('.card-header').html('<i class="fa fa-arrows-alt fa-fw"></i> Pag: '+(index+1));
            });
        }

        $('#images_preview').on('click', '.delete-file',function(event){
            const target = event.target || event.srcElement;
            const file_index = filesToUpload.findIndex(file => file.name === target.dataset.file);
            filesToUpload.splice(file_index,1);
            $(this).closest('.card-element').fadeOut(800,function(){
                $(this).remove();
            });
            if (filesToUpload.length === 0) {
                $('#btnSubmit').prop('disabled', true);
            }
        })

        $('#btnSubmit').on('click',function(event){
            event.preventDefault();
            const form = $('#form_upload');
            const form_data = new FormData(form[0]);
            for (let i = 0; i < filesToUpload.length; i++) {
                form_data.append('files[]', filesToUpload[i]);
            }
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form_data,
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $('#btnCancel').prop('disabled', true).addClass('disabled');
                    $('#btnSubmit').prop('disabled', true);
                    $('#btnSubmit').html('<i class="fa fa-spinner fa-spin"></i> Subiendo...');
                    sortable.sort = false;
                },
                success: function(message) {
                    $('#btnSubmit').html('<i class="fa fa-check"></i> Subido');
                    $('#success_msg_div').removeClass('d-none');
                    $('#success_msg').html(message);
                    $('.card-element').each(function () {
                        $(this).hide();
                    });
                    smoothScrollTo('#success_msg_div');
                    setTimeout(function(){
                        window.location.replace($('#success_msg_div').data('url'));
                    },3000);
                },
                error: function(e) {
                    $('#error_msg_div').removeClass('d-none');
                    $('#error_msg').html(e.responseJSON.error + ': ' + e.responseJSON.message);
                    $('#btnSubmit').html('<i class="fa fa-times"></i> Error');
                    setTimeout(function(){
                        $('#btnSubmit').html('<i class="fa fa-upload"></i> Subir');
                    },1000);
                    $('#btnSubmit').prop('disabled', false);
                    $('#btnCancel').prop('disabled', false).removeClass('disabled');
                }
            });
        })

        function smoothScrollTo(id){
            $('html, body').animate({
                scrollTop: $(id).offset().top - 100
            }, 1000);
        }

        $(document).ready(function (){
            document.querySelector('input[id="files"]').onchange=previewImages;
        });
    </script>

</body>

</html>