<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Lector online de cómics orientales">
    <meta name="keywords" content="manga, manhwa, manhua, pixelmanga, leer online">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biblioteca | PixelManga</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/select2.min.css" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/home">
                            <img src="/static/images/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li th:classappend="${is_home !=null? 'active':''}"><a th:href="@{/home}">Home</a></li>
                                <li th:classappend="${is_library !=null? 'active':''}"><a th:href="@{/library}">Biblioteca</a></li>
                                <li th:classappend="${is_following != null? 'active':''}"><a href="#">Siguiendo</a></li>
                                <li th:classappend="${is_lists !=null? 'active':''}"><a th:href="@{/lists}">Listas</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="/register_sample" sec:authorize="hasAnyAuthority('AUTHOR') and isAuthenticated()"><span class="icon_pencil"></span></a>
                        <a sec:authorize="!hasAnyAuthority('AUTHOR') and isAuthenticated()" data-toggle="modal" data-target="#askAuthorModal"><span class="icon_pencil"></span></a>
                        <a href="/profile" sec:authorize="isAuthenticated()"><span class="icon_profile"></span></a>
                        <a sec:authorize="isAuthenticated()"><form th:action="@{/logout}" method="post" ><input type="submit" value="Salir"></form></a>
                        <a href="/login" sec:authorize="!isAuthenticated()">Login</a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Msg notification -->

    <div class="row" th:if="${message}">

        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true"><a>
                    <i class="fa fa-times greencross"></i>
                    </a></span>
                    <span class="sr-only">Close</span>
                </button>
                <strong class="font__weight-semibold" th:text="${message}"></strong>
            </div>
        </div>
    </div>

    <div class="row" th:if="${error}">

        <div class="col-sm-12">
            <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times danger "></i>
									</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong class="font__weight-semibold" th:text="${error}"></strong>
            </div>
        </div>
    </div>

    <!-- Msg notification End-->

    <!-- Library Section Begin -->
    <section class="product-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form th:action="@{/library}" method="get">
                        <!-- Search Bar -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="justify-content-center text-center field has-addons">
                                    <div class="col-12 col-md-8 control has-icons-right">
                                        <input type="text" class="input is-rounded" placeholder="Buscar..." name="title" th:value="${title}">
                                    </div>
                                    <div>
                                        <button id="search_submit" type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Search Bar End -->
                        <!-- Filter Bar -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="filters justify-content-center text-center">
                                    <span class="input-select" >
                                        <select class="type-select"  id="type" name="type">
                                            <option></option>
                                            <option th:each="type : ${all_types}"
                                                    th:value="${type}"
                                                    th:text="${type}"></option>
                                        </select>
                                    </span>
                                    <span class="input-select">
                                        <select class="demography-select" id="demography" name="demography" >
                                            <option></option>
                                            <option th:each="demography : ${all_demographics}"
                                                    th:value="${demography}"
                                                    th:text="${demography}"></option>
                                        </select>
                                    </span>
                                    <span class="input-select">
                                        <select class="genres-select" multiple="multiple" name="genres[]"
                                                id="genres[]">
                                            <option th:each="genre : ${all_genres}"
                                                    th:value="${genre}"
                                                    th:text="${genre}"></option>
                                        </select>
                                    </span>
                                    <label for="sort_by">Ordenar por: </label>
                                    <span class="input-select" id="sort_by">
                                        <select class="order-select" name="order">
                                            <option value="popularity" data-index="0">Popularidad</option>
                                            <option value="alphabetically" data-index="1">Alfabético</option>
                                            <option value="rating" data-index="2">Puntuación</option>
                                            <option value="publication_date" data-index="3">Fecha publicación</option>
                                            <option value="num_chapters" data-index="5">Núm. Capítulos</option>
                                        </select>
                                        <select class="order-dir-select" name="order_dir">
                                            <option value="asc" data-index="0">ASC</option>
                                            <option value="desc" data-index="1">DESC</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- End of Filter -->
                    </form>
                </div>
                <!-- Book List -->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="sample : ${list_samples}">
                            <div class="product__item" th:with="type= ${sample.attributes.?[type.name == 'tipo de libro'].get(0).name}, demography= ${sample.attributes.?[type.name == 'demografía'].get(0).name}">
                                <a th:href="@{'/library/'+${type}+'/'+${sample.id}+'/'+
                                                    ${sample.name.replaceAll('\s|\\|\/','-').replace('?','')}}">
                                    <div class="product__item__pic set-bg" th:data-setbg="'/images/samples/'+${sample.id}">
                                            <span class="score" th:id="${sample.id}">
                                                <i class="fa fa-star"></i>
                                            </span>
                                        <span class="book-type badge" th:classappend="'badge-'+${type}" th:text="${type.toUpperCase()}"></span>
                                        <span class="demography" th:classappend="${demography}" th:text="${ demography.substring(0, 1).toUpperCase() + demography.substring(1)}"></span>
                                    </div>
                                    <div class="product__item__text">
                                        <h5 class="product__item__title" th:text="${sample.name}"></h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="pagination product__pagination justify-content-center">
                            <li th:classappend="${prev == 0? 'disabled' : 'page-item'}" th:style="${prev == 0? 'display: none' : ''}">
                                <a th:href="@{'/library?page='+${prev}+${parameters}}"><i th:classappend="${prev==0? '' : 'fa fa-angle-double-left'}"></i></a>
                            </li>
                            <li class="page-item" th:each="page :${pages}">
                                <a th:classappend="${current == page? 'current-page' : ''}" th:href="@{'/library?page='+${page}+${parameters}}" th:text="${page}"></a>
                            </li>
                            <li th:classappend="${current == last && current!=0? 'hidden disabled' : 'page-item'}" th:style="${current == last? 'display: none' : ''}">
                                <a th:href="@{'/library?page='+${next}+${parameters}}"><i th:classappend="${current==last? '' : 'fa fa-angle-double-right'}"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of Book List -->
</div>
</div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a th:href="@{/library}">Biblioteca</a></li>
                            <li><a href="#">Siguiendo</a></li>
                            <li><a href="#">Listas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
  <!-- Footer Section End -->

<!-- Js Plugins -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/mixitup.min.js"></script>
<script src="/static/js/jquery.slicknav.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/select2.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        //show rating for each book
        let samples = [[${list_samples_id}]];
        for (let i = 0; i < samples.length; i++) {
            $.get("/sample_average_rate", {sampleId: samples[i]}, function (data) {
                console.log(data);
                $("#" + samples[i]).append(data);
            });
        }

        $('.type-select').select2({
            placeholder: "Seleccione el tipo",
            allowClear: true,
            width: '100%'
        }).val([[${type}]]).trigger('change');


        $('.genres-select').select2({
            placeholder: "Seleccione los géneros",
            allowClear: true,
            width: '100%'
        }).val([[${genres}]]).trigger('change');

        $('.demography-select').select2({
            placeholder: "Seleccione la demografía",
            allowClear: true,
            width: '100%'
        }).val([[${demography}]]).trigger('change');

        $('.order-select').select2({
            width: '100%'
        }).val([[${order}]]).trigger('change');

        $('.order-dir-select').select2({
            width: '100%'
        }).val([[${order_dir}]]).trigger('change');
    })

    $(document).keydown(function (e) {
        if (e.keyCode === 13) {
            $('#search_submit').trigger('click');
        }
    });
    /*]]>*/
</script>
</body>
</html>