<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body class="text-center">
<!--
<div>
    <h1>User Registration - Sign Up</h1>
</div>

<form th:action="@{/process_register}" th:object="${user}"
      method="post" style="max-width: 300px; margin: 0 auto;">


</form>
-->
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Registro</h5>
                    <form class="form-signing" th:action="@{/process_register}" th:object="${user}"
                          method="post" style="max-width: 300px; margin: 0 auto;">
                        <div class="form-floating">
                            <input type="email" th:field="*{email}" class="form-control" required id="email"
                                   placeholder="name@example.com"/>
                            <label for="email">Correo electrónico </label>
                        </div>

                        <div class="form-floating">
                            <input type="password" th:field="*{password}" class="form-control"
                                   required minlength="6" maxlength="10" placeholder="Contraseña" id="password"/>
                            <label for="password"> Contraseña</label>
                        </div>

                        <div class="form-floating">
                            <input type="text" th:field="*{username}" class="form-control" id="username"
                                   required minlength="2" maxlength="20" placeholder="Nombre de usuario"/>
                            <label for="username">Nombre de usuario</label>
                        </div>

                        <!--div class="form-floating">
                            <input type="text" th:field="*{born_year}" class="form-control" id="year" placeholder="Año de nacimiento"/>
                            <label for="year"> Año de nacimiento</label>
                        </div-->


                        <div>
                            <label for="bornYear">Año de nacimiento</label>
                            <select class="form-select" required id="bornYear"
                                    style="text-align: center; width: fit-content; margin: auto" th:field="*{bornYear}" >
                                <script>
                                    let yearDropdown = document.getElementById("bornYear");

                                    let currentYear = new Date().getFullYear();
                                    let earliestYear = currentYear - 60;
                                    for(let i = earliestYear; i < currentYear-9; i++){
                                        let yearOption = document.createElement('option');
                                        yearOption.text = i;
                                        yearOption.value = i;
                                        yearDropdown.add(yearOption);
                                    }
                                </script>
                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body >
</html>